server {

	listen 80 default_server;
	server_name _;


{% for sites in reverse_proxy %}
{% if inventory_hostname in sites['host'] %}
	location {{sites['location']}} {

{% if 'extra' in sites %}
		{{sites['extra']}}
{% endif %}
{% if 'domain' in sites %}
		proxy_pass http://{{sites['domain']}}:{{sites['port']}};
{% else %}
		proxy_pass http://{{groups[sites['name']][0]}}:{{sites['port']}};
{% endif %}
	}
{% endif %}
{% endfor %}	

	listen 8080;
        location = /stub_status {
                stub_status;
        }
}
