server {

	listen 80 default_server;
	server_name _;
	
	listen 8080 default_server;
        location = /stub_status {
        	allow 127.0.0.1;
        	deny all;
                stub_status;
        }


{% for sites in reverse_proxy %}
{% if inventory_hostname in sites['host'] %}
	location {{sites['location']}} {

{% if 'extra' in sites %}
		{{sites['extra']}}
{% endif %}
{% if 'domain' in sites %}
		proxy_pass http://{{sites['domain']}}:{{sites['port']}};
{% else %}
		proxy_pass http://{{groups[sites['name']][0]}}:{{sites['port']}};
{% endif %}
	}
{% endif %}
{% endfor %}	

	
}
