[Unit]
Description=Pinger service reporting connection latency
Documentation=https://github.com/romankuchin/ica0002-2021/blob/main/08-logging/README.md
After=network-online.target

[Service]
User=pinger
ExecStart=/bin/bash  /usr/local/bin/pinger.sh

[Install]
WantedBy=multi-user.target
