
apiVersion: 1

datasources:
 - name: prometheus
   type: prometheus

   url: http://{{groups['prometheus'][0]}}:9090/prometheus
   password:
   user:
   database:
   isDefault: true
   editable: true

 - name: InfluxDB
   type: influxdb
#   orgId: 1
   url: http://{{groups['influx_telegraf'][0]}}:8086
   password:
   user:
   database: latency
   editable: true

 - name: InfluxDB-telegraf
   type: influxdb
#   orgId: 1
   url: http://{{groups['influx_telegraf'][0]}}:8086
   password:
   user:
   database: telegraf
   editable: true
