{% if inventory_hostname != mysql_host -%}
0 5 * * *  backup  mysqldump agama > /home/backup/mysql/agama.sql

0 5 * * 0  backup  duplicity --no-encryption full /home/backup/mysql/ rsync://{{ backup_ssh }}//home/pongraczfarkas/

0 0 * * 1-6  backup  duplicity --no-encryption incremental /home/backup/mysql/ rsync://{{ backup_ssh }}//home/pongraczfarkas/
{% endif -%}
