acl lan {
{% for i in allowed -%}
{{i}}
{%endfor%}};
options {
	directory "/var/cache/bind";
    forwarders {
       {% for i in forwarders -%}
       {{i}};
       {%endfor%}};
    allow-query {
        lan;
    };
        dnssec-validation: no;
};
