[Unit]
Description=A service that pings given hosts contantly to check connectivity
After=network-online.target

[Service]
User=pinger
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target
